html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

body {
    overflow: hidden;
}

.container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.message1 {
    position: relative;
    font-size: 32px;
    color: white;
    opacity: 0;
    transition: opacity 3s ease-in-out;
    margin-bottom: 25px;
}
.message2 {
    text-align: center;
    position: relative;
    color: white;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}
.message2 p{
    font-size: 21px;
}

.img {
    max-width: 100%;
    margin-bottom: 25px;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}
.img2 {
    height: 100vh;
    z-index: 999;
    position: absolute;
    display: none;
}
  
/* Agrega estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top:50%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal-content {
    background-color: #f4f4f4;
    opacity: 0.5;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.next {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.frio {
    opacity: 0;
    transition: opacity 2s ease-in;
    padding: 5px 10px;
}
.modal2 {
    display: none;
    z-index: 9;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
  